@model UserLoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<main class="form-signin w-100 m-auto">
    <form method="post">
        @if (TempData["message"] != null)
        {

            <div class="alert alert-danger" role="alert">
                @TempData["message"]
            </div>
        }


        <img class="mb-4" src="~/alkutay/images/adminlogo.png" alt="" width="111" height="85">
        <h1 class="h3 mb-3 fw-normal">Giriş Ekranı</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" asp-for="Username"  placeholder="admin">
            <label for="floatingInput">Kullanıcı Adı</label>
            @Html.ValidationMessage("Username")
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" asp-for="Password" placeholder="Password">
            <label for="floatingPassword">Şifre</label>
            @Html.ValidationMessage("Password")
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Beni Hatırla
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş</button>
        <p class="mt-5 mb-3 text-muted">&copy; @DateTime.Now.Year</p>
    </form>
</main>

