@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <!-- end header -->
    @await Component.InvokeAsync("_BannerPartial")
    <!-- discount -->
    <!-- end discount -->
    <!-- trending -->
   
    @await Component.InvokeAsync("_GalleryPartial")
    <!-- end trending -->
    <!-- our brand -->
    @await Component.InvokeAsync("_ProductPartial")
    <!-- end our brand -->
    <!-- map -->
    <div class="contact">
        <div class="container-fluid padddd">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="title">
                        <h2>Bizimle <strong class="black">İletişime</strong></h2><h2>Geçin</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                @await Component.InvokeAsync("_ContactPartial")
                @await Component.InvokeAsync("_MessagePartial")
            </div>
        </div>
    </div>
    
    <!-- end map -->

</div>